*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
.jekyll-metadata
__pycache__
_site
.Rproj.user
.Rhistory
.RData
.bundle/
.vendor/
.vscode/*
vendor/
.docker-vendor/
Gemfile.lock
.*history
.ruby-version
code/work/
code/.nextflow*
test.sif
.nextflow/*
work/*