//Something that can be used outside of the config and changed on the command line
params.test1 = 'nextflow.config'
// Something that can't
test2 = 'nextflow.config'

// process.container = 'python:3.3.5'
singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
}

process {
    withLabel: 'python|tensorflow' {
        cpus = 1
        executor = 'slurm'
        memory = '8 GB'
        time = '1h'
    }
    withLabel: python {
        container = 'python:3.8.5'
        queue = 'workq'
    }
    withLabel: tensorflow {
        container = 'tensorflow/tensorflow:latest'
        queue = 'gpuq'
        clusterOptions = "--gres=gpu:1"
    }
    module = 'singularity/3.7.4'
}
