<div id="docker">
    <h3>Docker</h3>

    <p>
        <a href="https://www.docker.com/">Docker</a> makes development efficient and predictable.
    </p>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-os="windows" href="#docker-windows" aria-controls="Windows"
                    role="tab" data-toggle="tab">Windows</a></li>
            <li role="presentation"><a data-os="macos" href="#docker-macos" aria-controls="MacOS" role="tab"
                    data-toggle="tab">MacOS</a></li>
            <li role="presentation"><a data-os="linux" href="#docker-linux" aria-controls="Linux" role="tab"
                    data-toggle="tab">Linux</a></li>
        </ul>

        <div class="tab-content">
            <article role="tabpanel" class="tab-pane active" id="docker-windows">
                Follow these <a href="https://docs.docker.com/desktop/install/windows-install/">instructions</a>
            </article>
            <article role="tabpanel" class="tab-pane" id="docker-macos">
                Follow these <a href="https://docs.docker.com/desktop/install/mac-install/">instructions</a>
            </article>
            <article role="tabpanel" class="tab-pane" id="docker-linux">
                Follow these <a href="https://docs.docker.com/desktop/install/linux-install/">instructions</a>
            </article>
        </div>
    </div>
</div>