<div id="nextflow">
    <h3>NextFlow</h3>

    <p>
        <a href="https://www.nextflow.io/">NextFlow</a> enables scalable and reproducible scientific workflows using
        software containers.
    </p>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-os="windows" href="#nextflow-windows" aria-controls="Windows"
                    role="tab" data-toggle="tab">Windows</a></li>
            <li role="presentation"><a data-os="macos" href="#nextflow-macos" aria-controls="MacOS" role="tab"
                    data-toggle="tab">MacOS</a></li>
            <li role="presentation"><a data-os="linux" href="#nextflow-linux" aria-controls="Linux" role="tab"
                    data-toggle="tab">Linux</a></li>
        </ul>

        <div class="tab-content">
            <article role="tabpanel" class="tab-pane active" id="nextflow-windows">
                <ol>
                    <li>Enable the Windows Subsystem for Linux</li>
                    <li>Enable the Virtual Machine Feature </li>
                    <li>Download the Linux Kernel Update Package</li>
                    <li>Set WSL2 as your default version</li>
                    <a href="https://nextflow.io/blog/2021/setup-nextflow-on-windows.html">Full instructions</a> from
                    the Nextflow site. (Includes install instructions for Docker which will be useful).
                    <li>You will also need to have Java installed to run NextFlow, see this <a
                            href="https://docs.oracle.com/en/java/javase/18/install/installation-jdk-microsoft-windows-platforms.html#GUID-A7E27B90-A28D-4237-9383-A58B416071CA">Java
                            Install guide</a> for instructions for Windows.</li>
                </ol>
            </article>
            <article role="tabpanel" class="tab-pane" id="nextflow-macos">
                <ol>
                    <li>From a terminal window run the following <code>wget -qO- https://get.nextflow.io | bash</code>
                        or if you prefer curl run <code>curl -s https://get.nextflow.io | bash</code>.
                        This will create the <code>nextflow</code> main executable file in the current directory. </li>
                    <li>Make the binary executable on your system by running <code>chmod +x nextflow</code>.</li>
                    <li>Move the nextflow file to a directory accessible by your <code>$PATH</code> variable </li>
                    <li>You will also need to have Java installed to run NextFlow, see this <a
                            href="https://docs.oracle.com/en/java/javase/18/install/installation-jdk-linux-platforms.html#GUID-737A84E4-2EFF-4D38-8E60-3E29D1B884B8">Java
                            Install guide</a> for instructions for MacOS.</li>

                </ol>
            </article>
            <article role="tabpanel" class="tab-pane" id="nextflow-linux">
                <ol>
                    <li>From a terminal window run the following <code>wget -qO- https://get.nextflow.io | bash</code>
                        or if you prefer curl run <code>curl -s https://get.nextflow.io | bash</code>.
                        This will create the <code>nextflow</code> main executable file in the current directory. </li>
                    <li>Make the binary executable on your system by running <code>chmod +x nextflow</code>.</li>
                    <li>Move the nextflow file to a directory accessible by your <code>$PATH</code> variable </li>
                    <li>You will also need to have Java installed to run NextFlow, see this <a
                            href="https://docs.oracle.com/en/java/javase/18/install/installation-jdk-linux-platforms.html#GUID-737A84E4-2EFF-4D38-8E60-3E29D1B884B8">Java
                            Install guide</a> for instructions for Linux.</li>
                    <li>For Debian or Ubuntu you can use apt to install "openjdk-?-jvm" where ? is the most recent
                        version available to you.</li>
                </ol>
            </article>
        </div>
    </div>
</div>